.git
.next
.idea
.vscode
.well-known
node_modules
certificates
src/app
gonka-git

.env
.env.docker*
.cursorignore
.dockerignore
.deploy_history*
package-lock.json
Dockerfile*
docker-compose*
compose*
*.tsbuildinfo
*.log
